<div class="container">
  <form class="form">
    <img class="logo" src="/assets/images/logo.png" />
    <div class="register">Register</div>
    <div class="sub-text">to acquire awesome bots</div>

    <input
      placeholder="First Name"
      type="text"
    />
    <input
      placeholder="Last Name"
      type="text"
    />
    <input
      placeholder="Email Address"
      type="text"
    />
    <input
      placeholder="Password"
      type="password"
    />
    <div class="buttons">
      <button type="submit" class="button cta">
        Register
      </button>
    </div>
  </form>
</div>
